/** Start of Fonts Links **/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
/** Start of Fonts Links **/

:root {
    --primary-text-color:#4a90e2;
    --secondary-text-color:#b8e986;

}
/** Start of Global Styles **/

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.text-white {
    color: #fff;
}
.span-text-blue {
    color: var(--primary-text-color);
}
.span-text-green {
    color: var(--secondary-text-color);
}
/** End of Global Styles **/

/**Start of wrapper **/
.wrapper {
    background-color: #000;
}
/** End of wrapper **/

/** Start of screen wrapper **/
.wrapper .screen-wrapper{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
/** End of Screen Wrapper **/

/*Start of email-text **/
.wrapper .screen-wrapper .email-text {
    font-size: 13px;
    position: absolute;
    right: 15px;
    left: auto;
    top: 10px;
}
/** End of email text **/

/** Start of intro section **/
.wrapper .screen-wrapper .intro-section {
    color: #fff;
    position: relative;
    padding: 4rem 0rem;
    width: 80%;
    margin: 0 auto;
}
/** End of intro section **/

/** Start of intro section h1 **/
.wrapper .screen-wrapper .intro-section h1 {
    font-size: 4rem;
}
/** End of intro section h1 **/

/** Start of intro section light **/
.wrapper .screen-wrapper .intro-section .light {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
/** End of intro section light **/

/** Start of intro section span **/
.wrapper .screen-wrapper .intro-section .light span {
    font-family: 'Merriweather', serif;
}
/** End of intro section span **/

/** Start of caption text **/
.wrapper .screen-wrapper .caption-text {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 23px;
    padding-bottom: 3rem;
}
/** End of caption text **/

/** Start of products section **/
.wrapper .screen-wrapper .products-section {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 3rem;
}
/**End of products section **/

/** Start of products section img **/
.wrapper .screen-wrapper .products-section img {
    height: 10rem;
    margin: 0.6rem;
}
/** End of products section img **/

/** Start of logos section **/
.wrapper .screen-wrapper .logos-section {
    display: flex;
    justify-content: space-evenly;
    width: 65%;
    margin: 0rem auto;
    padding-bottom: 7rem;
}
/**End of logos section **/

/** Start of logos section img **/
.wrapper .screen-wrapper .logos-section img {
    height: 20px;
}
/** End of logos section img **/

/** Start of end section **/ 
.wrapper .screen-wrapper .end-section {
    width: 50%;
    margin: 0 auto;
}
/** End of end section **/

/** Start of border **/
.wrapper .screen-wrapper .border{
   
    text-align: center;
    margin: 0 auto;
   
}
.line {
    height: 1px;
    background: #fff;
    width: 100px;
    position: relative;
    text-align: center;
    margin: 0 auto 3rem auto;
    padding: 0 2rem;
}
/** End of border **/

/** Start of border before **/
.wrapper .screen-wrapper .line::before{
    position: absolute;
    content: "";
    left: -30px;
    top: 0px;
    height: 1px;
    background-color: #fff;
    width: 20px;
    margin-right: 20px;
}
/** End of border before **/

/** Start of social media section ul  **/
.wrapper .screen-wrapper .social-media-section ul{
    display: flex;
    justify-content: center;
    gap: 10px;
}
/** End of social media section ul **/

/** Start of social media section ul li **/
.wrapper .screen-wrapper .social-media-section ul li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #fff;
    text-align: center;
    line-height: 20px;
}
/** End of social media section ul li **/

/** Start of social media ul li a **/
.wrapper .screen-wrapper .social-media-section ul li a {
    color: #fff;
}
/** End of social media ul li a **/

/** Start of bx icon **/
.wrapper .screen-wrapper .social-media-section ul li a .bx {
    font-size: 13px;
}
/** End of bx icon **/

/** Start of small text **/
.wrapper .screen-wrapper .small-text {
    font-size: 10px;
    padding: 3rem 0rem;
}
/** End of small text **/

@media (max-width:768px) {
/*Start of email-text **/
.wrapper .screen-wrapper .email-text {
    position: relative;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
/** End of email text **/
/** Start of intro section h1 **/
.wrapper .screen-wrapper .intro-section h1 {
    font-size: 1.5rem;
}
/** End of intro section h1 **/

/** Start of intro section **/
.wrapper .screen-wrapper .intro-section {
    padding: 2rem 0rem;
    width: 100%;
}
/** End of intro section **/
/** Start of intro section h1 **/
.wrapper .screen-wrapper .intro-section h1 {
    font-size: 1.5rem;
}
/** Start of caption text **/
.wrapper .screen-wrapper .caption-text {
    font-size: 15px;
    padding-bottom: 0.4rem;
}
/** End of caption text **/

/** Start of logos section **/
.wrapper .screen-wrapper .logos-section {
    display: flex;
    justify-content: space-between;
    width: 70%;
    flex-flow: wrap;
    margin: 1rem auto;
    padding-bottom: 1.5rem;
    align-items: center;
}
/**End of logos section **/

/** Start of logos section img **/
.wrapper .screen-wrapper .logos-section img {
    height: 25px;
    padding: 4px;
    margin-bottom: 35px;
    object-fit: cover;
}
/** End of logos section img **/


.wrapper .screen-wrapper .logos-section img:nth-child(4) {
    height: 25px;
    padding: 0.5rem;
}

/** Start of end section **/ 
.wrapper .screen-wrapper .end-section {
    width: 100%;
    margin: 0 auto;
}
/** End of end section **/
}