
  /** Start of Font-family : Light" **/
@font-face {
    font-family: "Light";
    src: url("/assets/fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf");
    font-weight: 300;
}
 /** Start of Font-family : Light " **/

  /** Start of Font-family : Regular" **/
@font-face {
    font-family: "Regular";
    src: url("/assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
    font-weight: 400;
}
 /** Start of Font-family : Regular " **/

  /** Start of Font-family : SemiBold" **/
  @font-face {
    font-family: "SemiBold";
    src: url("/assets/fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf");
    font-weight: 600;
}
 /** End of Font-family : SemiBold " **/