
@mixin flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin grid-container($columnFormat , $grid-row-value , $grid-gap) {
    display: grid;
    grid-template-columns: repeat($columnFormat, 1fr);
    grid-template-rows: $grid-row-value;
    grid-gap: $grid-gap;
}
@mixin para-truncate{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

