*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/** Start of button **/

button {
    outline: non;
    border: none;
    box-shadow: none;
    cursor: pointer;
}
/** End of button **/

/** Start of btn-md **/
.btn-md{
    padding: 0.7rem 1.5rem;
    font-family: "SemiBold";
    font-size: 1.2rem;
    min-width: 120px;
    margin: 0.8rem 0rem;
}
/** End of btn-md **/

/** Start of Placeholder **/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(180, 176, 176);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(180, 176, 176);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(180, 176, 176);
  }
  /** End of Placeholder **/

  